/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(238, 217, 217, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.navigation {
  font-size: medium;
}

button {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  min-width: 95px;
  background: #cf656f;
  border: #2e1111;
  cursor: pointer;
  color: #960a0a;
  margin-top: 9px;
}
button:disabled {
  background-color: rgb(159, 158, 208);
}

.ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.timer {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 15px;
}

.time {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.form {
  margin-top: 15px;
  max-width: 400px;
}
